      <div id="foodmenu_wrapper">
        <div class="foodmenu-left">
          <h1>Build Your Own Sandwich</h1>
          <div class="foodcol-1">
            <span class="food-type"></span>
            </p>
            <div class="food-title-area">
              <p><span class="food-type">Bread:</span><span class="toasted"></span><span class="food-price"></span>
                <br /> French Baguette
                <br /> Whole Wheat
                <br /> Sourdough
                <br /> Light Rye
                <br /> Wrap
                <br /> Whole Grain Gluten Free | + .50</p>
            </div>
            <div class="food-title-area">
              <p><span class="food-type">Meat: (Choose one)</span><span class="toasted"></span><span class="food-price"></span>
                <br /> Roasted Turkey
                <br /> Roast Beef
                <br /> Smoked Ham
                <br /> Corned Beef
                <br /> Pulled Pork
                <br /> Sliced Chicken Breast
                <br /> Prosciutto
                <br /> Genoa Salami
                <br /> Sopressata
                <br /> Mortadella
                <br /> Capocollo
                <br /> German Bologna
                <br /> Braunschweiger
                <br /> Tuna Salad
                <br /> Curry Chicken Salad
                <br /> Smoked Salmon | + 1.00
                <br /> Pastrami | + 1.00
                <br /> Bacon | + 1.00
                <br />
                <strong>Extra meat | + 2.50</strong>
            </div>
          </div>
          <div class="foodcol-2">
            <span class="food-type"></span>
            </p>
            <div class="food-title-area">
              <p><span class="food-type">Cheese: (Choose one)</span><span class="toasted"></span><span class="food-price"></span>
                <br /> Swiss
                <br /> Provolone
                <br /> Cheddar
                <br /> Muenster
                <br /> French Brie
                <br /> Smoked Gouda
                <br /> Fontina
                <br /> Chevre
                <br /> Fresh Mozzarella
                <br /> Asiago
                <br /> Pepper Jack
                <br /> Crumbled Blue
                <br /> Feta
                <br /> Dill Havarti
                <br /> Jarlsburg
                <br /> American
                <br /> Cream Cheese
                <br />
                <strong>Extra cheese | + 1.00</strong>
            </div>
          </div>
          <div class="foodcol-3">
            <span class="food-type"></span>
            </p>
            <div class="food-title-area">
              <p><span class="food-type">Veggies: (All you want)</span><span class="toasted"></span><span class="food-price"></span>
                <br /> Romaine Lettuce
                <br /> Field Greens
                <br /> Tomato
                <br /> Red Onion
                <br /> Cucumber
                <br /> Carrot
                <br /> Sprouts
                <br /> Pickles
                <br /> Pepperoncini
                <br /> Kalamata Olives
                <br /> Giardiniera
                <br /> Coleslaw
                <br /> Hot Cherry Peppers
                <br /> Avocado | + 1.00
                <br /> Artichoke Hearts | + 1.00
                <br /> Grilled Eggplant | + 1.00
                <br /> Roasted Red Peppers | + .50
                <br /> Oven Roasted Tomatoes | + .50
            </div>
            <div class="food-title-area">
              <p><span class="food-type">Spreads:</span><span class="toasted"></span><span class="food-price"></span>
                <br /> Mayo
                <br /> Chipotle Mayo
                <br /> Horseradish Mayo
                <br /> Garlic Mayo
                <br /> Pesto Mayo
                <br /> Dijon Mustard
                <br /> Deli Brown Mustard
                <br /> Honey Dijon Mustard
                <br /> Yellow Mustard
                <br /> House Caesar Dressing
                <br /> House Russian Dressing
                <br /> House Vinaigrette
                <br /> House Balsamic Vinaigrette
                <br /> House Buttermilk Ranch
                <br /> Basil Pesto | + .50
                <br /> Cranberry Chutney | + .50
            </div>
          </div>
          <div class="clearfix"></div>



        </div>
        <!-- foodmenu_left -->

        <div class="foodmenu-right">
          <h1>Menu</h1>
          <div class="foodmenu-menu">
            <div class="menu-menu-container">
              <ul id="menu-menu" class="menu">
                <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="/hot_breakfast_sandwiches">Hot Breakfast Sandwiches</a>
                </li>
                <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-57"><a href="/specialty_sandwiches">Specialty Sandwiches</a>
                </li>
                <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-49 current_page_item menu-item-59"><a href="/build_your_own">Build Your Own Sandwich</a>
                </li>
                <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="/salads_soups_sides_drinks">Salads, Soups, Sides, Drinks</a>
                </li>
                <li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="/catering_menu">Catering Menu</a>
                </li>
                <li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a target="_blank" href="wp-content/uploads/2013/02/breakfast-lunch-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/breakfast-lunch-menu.pdf']);">Main Menu (PDF)</a>
                </li>
                <li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a target="_blank" href="wp-content/uploads/2013/02/catering-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/catering-menu.pdf']);">Catering Menu (PDF)</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- foodmenu-menu -->
        </div>
        <!-- foodmen-right -->

        <div class="clearfix"></div>

      </div>
      <!-- foodmenu-wrapper -->
