<div id="foodmenu_wrapper">
	<div class="foodmenu-left">
		<h1>Catering Menu</h1>
		<div class="foodcol-1"><span class="food-type">Sandwich Trays</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Breakfast Sandwich Tray</span></strong><span class="food-price"> 30.00</span><br />
2 bacon, 2 ham &amp; 2 veggie hot egg sandwiches</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Classic Sandwich Tray</span></strong><span class="food-price"> 62.95</span><br />
classic deli sandwiches; includes turkey, ham, roast beef, corned beef, prepared with choice cheeses, lettuce &amp; tomato</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Custom Sandwich Tray</span></strong><span class="food-price"> 72.95</span><br />
create your own custom tray from our specialty sandwich menu; choose 6 sandwiches</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Signature Sandwich Tray</span></strong><span class="food-price"> 69.95</span><br />
make it easy, let us choose our most popular choices</p>
</div>
<p><span class="food-type">Salads for Group</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Panzanella</span></strong><span class="food-price"> 45.00</span><br />
artichoke hearts, grape tomatoes, capers, chevre, fresh croutons, served on a bed of field greens with our house balsamic vinaigrette.</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Greek Salad</span></strong><span class="food-price"> 49.00</span><br />
cucumber, pepperoncini, kalamata olives, red onion, grape tomatoes, feta, served on a bed of field greens with our house balsamic vinaigrette.</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Chicken Caesar</span></strong><span class="food-price"> 49.00</span><br />
sliced chicken breast served on a bed of crisp romaine lettuce, fresh croutons &amp; shaved asiago cheese with our house caesar dressing</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Cobb Salad</span></strong><span class="food-price"> 53.00</span><br />
fresh cubed chicken breast, bacon, avocado, chopped hard-boiled egg, grape tomatoes, red onion, crumbled blue cheese, served on a bed of field greens with our house buttermilk ranch dressing</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Garden Salad</span></strong><span class="food-price"> 39.00</span><br />
cucumbers, carrots, grape tomatoes, and red onion served over a bed of field greens, served with a side of balsamic and ranch dressing</p>
</div>
</div>
<div class="foodcol-2"><span class="food-type">Box Lunches (each)</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Soup &amp; Salad Box Lunch</span></strong><span class="food-price"> 10.95</span><br />
cup of fresh made soup, choice of half salad &amp; fresh baked dessert</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Soup &amp; Sandwich Box Lunch</span></strong><span class="food-price"> 10.95</span><br />
cup of fresh made soup, choice of half sandwich, chips &amp; fresh baked dessert</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Salad Box Lunch</span></strong><span class="food-price"> 10.95</span><br />
your choice of greek, cobb, chicken caesar, panzanella, or garden salad; includes french baguette &amp; fresh baked dessert or apple</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Day Hiker Box Lunch</span></strong><span class="food-price"> 10.25</span><br />
a classic deli sandwich on french bread, choice of ham, turkey, roast beef, or veggie, with lettuce, tomato, onion, cheddar cheese, mustard &amp; mayonnaise on side; includes pickle spear, chips, &amp; fresh baked dessert</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Backpacker Box Lunch</span></strong><span class="food-price"> 10.95</span><br />
a sandwich of your choice from our specialty sandwich menu; includes pickle spear, chips &amp; fresh baked dessert</p>
</div>
<p><span class="food-type">Sides (each)</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Deli Salads – Small</span></strong><span class="food-price"> 2.50</span><br />
potato salad &amp; coleslaw made fresh daily, half-pint</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Deli Salads – Large</span></strong><span class="food-price"> 4.00</span><br />
potato salad &amp; coleslaw made fresh daily, pint</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Potato Chips</span></strong><span class="food-price"> 1.30</span><br />
sea salt, salt &amp; vinegar, barbeque, jalapeno, Sun Chips</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Desserts</span></strong><span class="food-price"> 1.75 each</span><br />
Freshly baked chocolate chip cookies, oatmeal raisin cookies, and fudge brownies</p>
</div>
</div>
<div class="foodcol-3"><span class="food-type">Drinks (each)</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Fountain Drinks</span></strong><span class="food-price"> 2.50</span><br />
Pepsi, Diet Pepsi, Dr Pepper, Diet Dr Pepper, Mountain Dew, Diet Mountain Dew</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">San Pellegrino</span></strong><span class="food-price"> 2.50</span><br />
Lemon, Orange, Blood Orange, Grapefruit (500 ml + .50)</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Arizona Iced Tea</span></strong><span class="food-price"> 2.50</span><br />
24 oz</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Bottled Water</span></strong><span class="food-price"> 2.00</span></p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Fresh-brewed Iced Tea</span></strong><span class="food-price"> 1.50</span></p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">100 oz Iced Tea Carrier</span></strong><span class="food-price"> 15.00</span></p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">100 oz Coffee Carrier</span></strong><span class="food-price"> 15.00</span><br />
we proudly serve our custom, Colorado roasted Backcountry Bold coffee</p>
<p>*Beverage flavors subject to change basd on availability</p>
</div>
</div>
					<div class="clearfix"></div>



			</div> <!-- foodmenu_left -->

			<div class="foodmenu-right">
				<h1>Menu</h1>
				<div class="foodmenu-menu">
					<div class="menu-menu-container"><ul id="menu-menu" class="menu"><li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="/hot_breakfast_sandwiches" >Hot Breakfast Sandwiches</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-57"><a href="/specialty_sandwiches" >Specialty Sandwiches</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="/build_your_own" >Build Your Own Sandwich</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="/salads_soups_sides_drinks" >Salads, Soups, Sides, Drinks</a></li>
<li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-299 current_page_item menu-item-301"><a href="/catering_menu" >Catering Menu</a></li>
<li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a target="_blank" href="wp-content/uploads/2013/02/breakfast-lunch-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/breakfast-lunch-menu.pdf']);">Main Menu (PDF)</a></li>
<li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a target="_blank" href="wp-content/uploads/2013/02/catering-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/catering-menu.pdf']);">Catering Menu (PDF)</a></li>
</ul></div>				</div> <!-- foodmenu-menu -->
			</div> <!-- foodmen-right -->

			<div class="clearfix"></div>

</div> <!-- foodmenu-wrapper -->
