			<div id="inner-content" class="wrap clearfix">

				    <div id="main" class="eightcol first clearfix" role="main">

					    					    <article id="post-436" class="post-436 page type-page status-publish hentry clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">
							<header class="article-header">
							    							    <h1 class="page-title" itemprop="headline">Backcountry Policies</h1>
						    </header> <!-- end article header -->

						    <section class="entry-content clearfix" itemprop="articleBody">
							    <h2></h2>
<h2>Privacy Policy</h2>
<p>We respect and are committed to protecting your privacy. We may collect personally identifiable information when you visit our site. We also automatically receive and record information on our server logs from your browser including your IP address &amp; cookie information. We will not sell your personally identifiable information to anyone.</p>
<h2>Security Policy:</h2>
<p>Your payment and personal information is always safe. Our Secure Sockets Layer (SSL) software is the industry standard and among the best software available today for secure commerce transactions. It encrypts all of your personal information, including credit card number, name, and address, so that it cannot be read over the internet.</p>
<h2>Cancellation and Refund Policy:</h2>
<p>You may cancel any Order (with the exception of “A.S.A.P.” Orders, which may not be cancelled) at any time until two (2) hours before the scheduled time for delivery of the Order, through the Website. Upon cancellation, we will refund the total price of the Order to the Customer, to the credit or debit card used to place the Order.</p>
<h2>Delivery Policy:</h2>
<p>All orders will be delivered per the time confirmed on the order. If for any reason we are not able to deliver the food, we will call and notify you within 30 min from when the order placed and issue a full credit card refund for card orders.</p>
							</section> <!-- end article section -->

						    <footer class="article-footer"> </footer> <!-- end article footer -->

<!-- You can start editing here. -->



	<!-- If comments are closed. -->
	<!--p class="nocomments">Comments are closed.</p-->




					    </article> <!-- end article -->


    				</div> <!-- end #main -->
				    	<div id="page_sidebar" class="sidebar">
		<div id="black-studio-tinymce-4" class="widget widget_black_studio_tinymce"><div class="textwidget"><p><a href="wp-content/uploads/2013/02/mountain.jpg" ><img class="alignnone size-medium wp-image-388" alt="mountain" src="wp-content/uploads/2013/02/mountain-300x76.jpg" width="300" height="76" /></a></p></div></div>	</div>

				</div> <!-- end #inner-content -->

			</div> <!-- end #content -->



		</div> <!-- end #container -->

		<!-- all js scripts are loaded in library/bones.php -->
		<script type="text/javascript">
var addthis_config = {"data_track_clickback":false,"data_track_addressbar":false,"data_track_textcopy":false,"ui_atversion":"300"};
var addthis_product = 'wpp-3.5.9';
</script><script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515a10e61b7f4068"></script><script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
<!--wp_footer-->
 </body>

</html> <!-- end page. what a ride! -->
