			<div id="content">

				<div id="inner-content" class="wrap clearfix">

				    <div id="main" class="eightcol first clearfix" role="main">

					    					    <article id="post-7" class="post-7 page type-page status-publish hentry clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">
							<header class="article-header">
							    							    <h1 class="page-title" itemprop="headline">Franchise Info</h1>
						    </header> <!-- end article header -->

						    <section class="entry-content clearfix" itemprop="articleBody">
							    <p>Backcountry Delicatessen’s plan of growth is to choose select locations that connect with our unique brand and philosophy. Think your community could be a good fit for a Backcountry Delicatessen? Well, we’re interested in talking with you.</p>
<p>Before we do, here’s a few of our company&#8217;s primary values:</p>
<ul>
<li>Providing a fresh concept with unique and great tasting fare</li>
<li>Sourcing the highest quality/ freshest ingredients</li>
<li>Supporting franchisees around the clock</li>
<li>Promoting an active and healthy lifestyle-culture</li>
<li>Bringing the mountain lifestyle to your neighborhood</li>
<li>Creating strong community presence-involvement-commitment</li>
<li>Bringing value to community business infrastructure</li>
<li>Being passionate about who and what we are</li>
<li>Bringing strong brand loyalty/following</li>
<li>Rewarding cost structure</li>
</ul>
<p>Contact us by clicking the button in the right sidebar to fill out a Franchise Inquiry form.</p>
<p><strong>Let’s start the conversation.</strong></p>
							</section> <!-- end article section -->

						    <footer class="article-footer"> </footer> <!-- end article footer -->

<!-- You can start editing here. -->



	<!-- If comments are closed. -->
	<!--p class="nocomments">Comments are closed.</p-->




					    </article> <!-- end article -->


    				</div> <!-- end #main -->
				    	<div id="page_sidebar" class="sidebar">
		<div id="black-studio-tinymce-6" class="widget widget_black_studio_tinymce"><div class="textwidget"><p>
<script type="text/javascript" src="http://cdn.jotfor.ms/static/feedback2.js?3.1.2559">// <![CDATA[
new JotformFeedback({
formId:'30908801789161',
base:'http://jotform.us/',
windowTitle:'Franchise Inquiry',
background:'#FFA500',
fontColor:'#FFFFFF',
type:false,
width:700
});
// ]]></script>
</p>
<p><a class="lightbox-30908801789161" style="cursor: pointer; text-decoration: underline;"><img class="alignleft size-full wp-image-426" alt="Learn More about Franchise Opportunities" src="wp-content/uploads/2013/02/Franchise.png" width="253" height="80" /></a></p>
<p> </p>
<p style="font-size: 17px; line-height: 21px;"><img class="alignnone size-full wp-image-437" alt="backcountry-awards" src="wp-content/uploads/2013/02/backcountry-awards.jpg" width="253" height="150" />Collecting another annual haul at the Best of the Boat awards - Steamboat Springs</p></div></div>	</div>

				</div> <!-- end #inner-content -->

			</div> <!-- end #content -->


		</div> <!-- end #container -->

		<!-- all js scripts are loaded in library/bones.php -->
		<script type="text/javascript">

var addthis_config = {"data_track_clickback":false,"data_track_addressbar":false,"data_track_textcopy":false,"ui_atversion":"300"};
var addthis_product = 'wpp-3.5.9';
</script><script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515a10e61b7f4068"></script><script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
<!--wp_footer-->
	</body>

</html> <!-- end page. what a ride! -->
