<<<<<<< HEAD
=======


	<div id="content">
>>>>>>> adam-layout-clean
		<div id="foodmenu_wrapper">
			<div class="foodmenu-left">
									<h1>Hot Breakfast Sandwiches</h1>
				    <div class="foodcol-1">
<span class="food-type"></span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Egg, Ham and Cheddar</span></strong><span class="toasted"></span><span class="food-price">4.50</span><br />
fresh egg, smoked ham, melted sharp cheddar, served on a toasted ciabatta</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Egg, Bacon and Cheddar</span></strong><span class="toasted"></span><span class="food-price">4.50</span><br />
fresh egg, maple cured bacon, melted sharp cheddar, served on a toasted ciabatta</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Egg, Sausage and Cheddar</span></strong><span class="toasted"></span><span class="food-price">4.50</span><br />
fresh egg, chicken apple sausage link, melted sharp cheddar, served on a toasted ciabatta</p>
</div>
</div>
<div class="foodcol-2">
<p><span class="food-type"></span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Veggie</span></strong><span class="toasted"></span><span class="food-price">4.50</span><br />
fresh egg, avocado, tomato, melted sharp cheddar, served on a toasted ciabatta</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">EBLT</span></strong><span class="toasted"></span><span class="food-price">5.00</span><br />
fresh egg, maple cured bacon, melted sharp cheddar, lettuce, tomato, chipotle mayo, served on a toasted ciabatta</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Little Italy</span></strong><span class="toasted"></span><span class="food-price">5.00</span><br />
fresh egg, imported capocollo, melted sharp provolone, hot cherry peppers, basil pesto, served on a toasted ciabatta</p>
</div>
</div>
<div class="foodcol-3">
<p><span class="food-type"></span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Ranchero</span></strong><span class="toasted"></span><span class="food-price">5.00</span><br />
fresh egg, chorizo sausage, roasted green chiles, fresh sliced avocado, melted pepperjack, served on a toasted ciabatta</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Lox</span></strong><span class="toasted"></span><span class="food-price">8.95</span><br />
thinly sliced atlantic smoked salmon, cream cheese, tomato, onion, capers, served on a toasted ciabatta</p>
</div>
</div>
					<div class="clearfix"></div>



			</div> <!-- foodmenu_left -->

			<div class="foodmenu-right">
				<h1>Menu</h1>
				<div class="foodmenu-menu">
					<div class="menu-menu-container"><ul id="menu-menu" class="menu"><li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-51 current_page_item menu-item-58"><a href="/hot_breakfast_sandwiches" >Hot Breakfast Sandwiches</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-57"><a href="/specialty_sandwiches" >Specialty Sandwiches</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="/build_your_own" >Build Your Own Sandwich</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="/salads_soups_sides_drinks" >Salads, Soups, Sides, Drinks</a></li>
<li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="/catering_menu" >Catering Menu</a></li>
<li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a target="_blank" href="wp-content/uploads/2013/02/breakfast-lunch-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/breakfast-lunch-menu.pdf']);">Main Menu (PDF)</a></li>
<li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a target="_blank" href="wp-content/uploads/2013/02/catering-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/catering-menu.pdf']);">Catering Menu (PDF)</a></li>
</ul></div>				</div> <!-- foodmenu-menu -->
			</div> <!-- foodmen-right -->

			<div class="clearfix"></div>

		</div> <!-- foodmenu-wrapper -->
<<<<<<< HEAD
=======
	</div> <!-- end #content -->

			

		</div> <!-- end #container -->

		<!-- all js scripts are loaded in library/bones.php -->
		<script type="text/javascript">

var addthis_config = {"data_track_clickback":false,"data_track_addressbar":false,"data_track_textcopy":false,"ui_atversion":"300"};
var addthis_product = 'wpp-3.5.9';
</script><script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515a10e61b7f4068"></script><script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
<!--wp_footer-->
	</body>

</html> <!-- end page. what a ride! -->
>>>>>>> adam-layout-clean
