      <div id="the_slideshow">
        <div id="slideshow_container">
          <!-- meta slider -->
          <div style="max-width: falsepx;" class="metaslider metaslider-flex metaslider-114 ml-slider nav-hidden">

            <div id="metaslider_container_114">
              <div id="metaslider_114" class="flexslider">
                <ul class="slides">
                  <li style="display: block; width: 100%;"><img src="wp-content/uploads/2013/03/BCD-_0007_home-page-slider-0x290.jpg" height="290" alt="" class="slider-114 slide-269" />
                  </li>
                  <li style="display: none; width: 100%;"><img src="wp-content/uploads/2013/02/snow-tracks-0x290.jpg" height="290" alt="" class="slider-114 slide-387" />
                  </li>
                  <li style="display: none; width: 100%;"><img src="wp-content/uploads/2013/03/BCD-_0005_home-page-slider3-0x290.jpg" height="290" alt="" class="slider-114 slide-267" />
                  </li>
                  <li style="display: none; width: 100%;"><img src="wp-content/uploads/2013/02/crowd1-0x290.jpg" height="290" alt="" class="slider-114 slide-600" />
                  </li>
                  <li style="display: none; width: 100%;"><img src="wp-content/uploads/2013/03/BCD-_0003_home-page-slider5-0x290.jpg" height="290" alt="" class="slider-114 slide-265" />
                  </li>
                  <li style="display: none; width: 100%;"><img src="wp-content/uploads/2013/02/mountain-0x290.jpg" height="290" alt="" class="slider-114 slide-388" />
                  </li>
                  <li style="display: none; width: 100%;"><img src="wp-content/uploads/2013/03/BCD-_0001_home-page-slider7-0x290.jpg" height="290" alt="" class="slider-114 slide-263" />
                  </li>
                  <li style="display: none; width: 100%;"><img src="wp-content/uploads/2013/03/BCD-_0000_home-page-slider8-0x290.jpg" height="290" alt="" class="slider-114 slide-262" />
                  </li>
                </ul>
              </div>
<script type="text/javascript">
  var metaslider_114 = function($) {
    $('#metaslider_114').flexslider({
      slideshowSpeed: 4000,
      animation: "fade",
      controlNav: false,
      directionNav: true,
      pauseOnHover: false,
      direction: "horizontal",
      reverse: false,
      animationSpeed: 1000,
      prevText: "Previous",
      nextText: "Next",
      slideshow: true
    });
  };
  var timer_metaslider_114 = function() {
    var slider = !window.jQuery ? window.setTimeout(timer_metaslider_114, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_114, 1) : metaslider_114(window.jQuery);
  };
  timer_metaslider_114();
</script>
</div>
<!--// meta slider-->
<img src="wp-content/themes/bones/library/images/tagline-overlay.png" alt="Eat well. Be bold." id="slideshow_tagline" />
</div>
</div>
<!-- the_slideshow -->
</div>
<!-- end #content -->
