<header class="header" role="banner">

        <div id="inner-header" class="wrap clearfix">
          <ul id="menu-tippy-top-nav" class="nav tippy-top-nav clearfix"><li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="/our_story">Our Story</a></li>
<li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="/social" >Social Love</a></li>
<li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="/franchise" >Franchise Info</a></li>
<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="/contact_us" >Contact Us</a></li>
</ul>         <div id="the_logo">
            <!-- to use a image just replace the bloginfo('name') with your img src and remove the surrounding <p> -->
            <a href="/" rel="nofollow"><img src="wp-content/themes/bones/library/images/logo.png" alt="logo" width="309" height="183"></a>
          </div> <!-- the_logo -->

        </div> <!-- end #inner-header -->

        <div id="nav_wrapper">
          <nav role="navigation">
            <ul id="menu-main-menu" class="nav top-nav clearfix"><li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-28"><a href="/specialty_sandwiches" >Menu</a>
<ul class="sub-menu">
  <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="/hot_breakfast_sandwiches" >Hot Breakfast Sandwiches</a></li>
  <li id="menu-item-56" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-56"><a href="/specialty_sandwiches" >Specialty Sandwiches</a></li>
  <li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="/build_your_own" >Build Your Own Sandwich</a></li>
  <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55"><a href="/salads_soups_sides_drinks" >Salads, Soups, Sides, Drinks</a></li>
  <li id="menu-item-302" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-302"><a href="/catering_menu" >Catering Menu</a></li>
</ul>
</li>
<li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-187"><a href="/location_steamboat_springs_co" >Locations</a>
<ul class="sub-menu">
  <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="/location_denver_lodo_co" >Denver &#8211; LoDo</a></li>
  <li id="menu-item-661" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-661"><a href="/location_denver_downtown_co" >Denver &#8211; Downtown</a></li>
  <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="/location_fort_collins_co" >Fort Collins, CO</a></li>
  <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="/location_jackson_hole_wy" >Jackson Hole, WY</a></li>
  <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/location_steamboat_springs_co" >Steamboat Springs, CO</a></li>
</ul>
</li>
<li id="menu-item-551" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-551"><a href="/order_wazee_denver" >Order Online</a>
<ul class="sub-menu">
  <li id="menu-item-529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-529"><a href="/order_wazee_denver" >Denver – Wazee St</a></li>
  <li id="menu-item-672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-672"><a href="order_glenarm_denver.html" >Denver &#8211; 17th &#038; Glenarm</a></li>
  <li id="menu-item-547" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-547"><a href="order_fort_collins.html" >Fort Collins</a></li>
  <li id="menu-item-546" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-546"><a href="order_jackson.html" >Jackson</a></li>
  <li id="menu-item-545" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-545"><a href="order_steamboat.html" >Steamboat</a></li>
</ul>
</li>
</ul>         </nav>
        </div> <!-- nav_wrapper -->

      </header> <!-- end header -->


<%= yield %>


<footer class="footer" role="contentinfo">

        <div id="inner-footer" class="wrap clearfix">

          <div id="footer_buttons">

            <div class="facebook-foot">
              <a href="http://facebook.com/backcountrydeli"><img src="wp-content/themes/bones/library/images/facebook.png" alt="facebook" width="38" height="38" /></a>
            </div> <!-- facebook-foot -->
            <div class="mail-foot">
              <a href="contact.1"><img src="wp-content/themes/bones/library/images/email.png" alt="email" width="38" height="38" /></a>
            </div> <!-- mail-foot -->

          </div> <!-- footer_buttons -->


  <div id="black-studio-tinymce-7" class="footer-containers widget_black_studio_tinymce"><div class="textwidget"><h2><a title="Denver, CO" href="location-denver-lodo-co.html">Denver, CO</a></h2>
<div class="clearfix"> </div>
<p>Mon - Fri 7 am - 6 pm<br />Sat - Sun 8 am - 6 pm</p>
<p>LoDo<br />1617 Wazee St<br />Denver, CO 80202<br/>303-534-7900<br/></p>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/bcdlodo" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/bcdlodo" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p><br/>
<p>Downtown<br />444 17th St, Downtown<br />Denver, CO 80202<br/>303-534-2100<br/></p>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/bcdglenarm" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/bcdglenarm" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p></div></div><div id="black-studio-tinymce-8" class="footer-containers widget_black_studio_tinymce"><div class="textwidget"><h2><a title="Fort Collins, CO" href="location-fort-collins-co.html">Fort Collins, CO</a></h2>
<div class="clearfix"> </div>
<p>Mon - Sun 7 am - 5 pm</p>
<p>Old Town<br />140 N College Ave<br />Fort Collins, CO 80524</p>
<p>970-482-6913</p>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/BCDfortcollins" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/BCDfortcollins" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p></div></div><div id="black-studio-tinymce-9" class="footer-containers widget_black_studio_tinymce"><div class="textwidget"><h2><a title="Jackson Hole, WY" href="/location_jackson_hole_wy">Jackson Hole, WY</a></h2>
<div class="clearfix"> </div>
<p>Mon - Sun 7 am - 5 pm</p>
<p>Town Square<br />50 W Deloney Ave<br />Jackson, WY 83001</p>
<p>307-734-9420</p>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/BCDjackson" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/BCDjackson" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p>
</div></div><div id="black-studio-tinymce-10" class="footer-containers widget_black_studio_tinymce"><div class="textwidget"><h2><a title="Steamboat Springs, CO" href="/location_steamboat_springs_co">Steamboat Springs, CO</a></h2>
<div class="clearfix"> </div>
<p>Mon - Sun 7 am - 5 pm</p>
<p>Old Town Square, Downtown<br />635 Lincoln Avenue <br />Steamboat Springs, CO 80487</p>
<p>970-879-3617</p>
<p><span style="color: #000000;"><strong><a href="https://twitter.com/BCDsteamboat" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><span style="color: #000000;">Daily Specials &gt;</span></a></strong></span><a href="https://twitter.com/BCDsteamboat" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://twitter.com']);" target="_blank"><img alt="foot-twitter" src="wp-content/themes/bones/library/images/foot-twitter.png" width="27" height="26" /></a></p>
</br></br></br></br><p style="line-height: 1em;" ><span style="color: #333333; font-size:80%;">Branding &amp; Website by </span><a style="color: #333333; font-size:80%;" href="http://www.onetribecreative.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-widget','http://www.onetribecreative.com']);" target="_blank">One Tribe Creative</a></span></p></div></div>


        </div> <!-- end #inner-footer -->

      </footer> <!-- end footer -->













<link rel='stylesheet' id='output-css'  href='wp-content/plugins/addthis/css/output.css' type='text/css' media='all' />
<link rel='stylesheet' id='dcwss-css'  href='wp-content/plugins/wordpress-social-stream/css/dcwss.css' type='text/css' media='all' />
<link rel='stylesheet' id='bones-stylesheet-css'  href='wp-content/themes/bones/library/css/style.css' type='text/css' media='all' />
<!--[if lt IE 9]>
<link rel='stylesheet' id='bones-ie-only-css'  href='http://backcountry-deli.com/wp-content/themes/bones/library/css/ie.css' type='text/css' media='all' />