<h1>Location Edit</h1>

<html>
  <head>
    
  </head>
  <body>

    <method='POST'>
      <p>
          Edit Location Information:
      </p>
        <input type="hidden" name="_method" value="PUT" />
      <p>Title:  <input type='text' /></p>
      <p>Address:  <input type='text' /></p>
      <p>Hours:  <input type='text'></p>
      <input type='submit'/>
    </form>
  </body>
</html>