		<div id="image_viewport">
			<div id="image_container">
				<img width="2500" height="313" src="wp-content/uploads/2014/08/Denver_location-banner.jpg" class="attachment-full" alt="Denver_location-banner" />			</div>
		</div> <!-- the_slideshow -->

		<div id="location_content_container">
			<div id="location_content" class="clearfix">
				<div class="main-content">
														<h1>Denver 17th &#038; Glenarm</h1>
										<p><strong>Open Mon &#8211; Fri 7 am &#8211; 6 pm, Sat &#8211; Sun 8 am &#8211; 6 pm | 303-534-2100<br />
</strong></p>
<p>Welcome to Denver’s second Backcountry Delicatessen. Located in the heart of the commerce district at 17th and Glenarm, stop in for one of our delicious breakfast sandwiches to fuel yourself for your day’s business adventures, or make a break from the office for the best deli lunch in all downtown. And if you can’t leave the ball and chain, we’ll come to your rescue and the whole staff as well. BCD Denver is owned and operated by Dave Mischell, a civilized adventurer if we ever saw one.</p>
<p><strong>Denver community involvement<br />
</strong>BCD Denver is a member of the Downtown Denver Partnership and also sponsors several charities including REI&#8217;s Trail Maintenance Days. Owner-Operator Dave Mischell is on the Board of Directors for LoDo District Inc. and serves as its Treasurer.</p>
<p><em>Downtown 444 17th St Denver, CO 80202</em></p>
<p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3067.789234981599!2d-104.98926499999999!3d39.74438500000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c78d6f278b385%3A0xf5c064eda1b3860e!2s444+17th+St%2C+Denver%2C+CO+80202!5e0!3m2!1sen!2sus!4v1407350813574" width="850" height="350" frameborder="0"></iframe></p>


					<div class="main-bottom-content">

						<div class="map">
																				</div> <!-- map -->
											</div> <!-- main-bottom-content -->

				</div> <!-- main-content -->

				<div class="main-sidebar">
					<div id="specials">
						<div id="specials_copy">
				<!-- temp fix to link to location twitter pages .by Jaime 	-->
				<ul class="twitterfeed"></ul>							 <!-- temp fix to link to location twitter pages .by chris -->
							 <div style="margin-top:15px;">To learn more about our delicious specials call 303-534-2100</div>							<!-- hidden by Jaime <a href="https://twitter.com/BCDGlenarm" target="_blank">Check them out on Twitter</a>-->
						</div> <!-- specials_copy -->
					</div> <!-- specials -->

				</div> <!-- main-sidebar -->

			</div> <!-- location_content -->
		</div> <!-- location_content -->

	</div> <!-- end #content -->
