<h1>Backcountry Deli Locations</h1>

<form action='/admin/locations' method='POST'>
  <p>New Location:</p>
  <p>Name:  <input type='text' name='location[name]'></p>
  <p>Hours1:  <input type='text' name='location[hours1]'></p>
  <p>Hours2:  <input type='text' name='location[hours2]'></p>
  <p>Area:  <input type='text' name='location[area]'></p>
  <p>Address:  <input type='text' name='location[address]'></p>
  <p>City_State_Zip:  <input type='text' name='location[city_state_zip]'></p>
  <p>Phone:  <input type='text' name='location[phone_number]'></p>
  <input type='submit'>
</form>
