<div id="image_viewport">
			<div id="image_container">
				<img width="2500" height="313" src="wp-content/uploads/2013/02/FortCollins_location-banner2.jpg" class="attachment-full" alt="FortCollins_location-banner2" />			</div>
		</div> <!-- the_slideshow -->

		<div id="location_content_container">
			<div id="location_content" class="clearfix">
				<div class="main-content">
														<h1>Fort Collins, CO</h1>
										<p><strong>Open Mon &#8211; Sun 7 am &#8211; 5 pm | 970-482-6913</strong></p>
<p>Our first front range location and what a lively one it is. Since 2007 Backcountry Delicatessen Fort Collins has enjoyed being a part of and catering to a local mix of active lifestyles and hungry appetites. BCD Fort Collins is located in the heart of the Historic Old Town District, and boasts a recently redesigned and inviting interior. Stop in and see what’s cooking, both behind the counter and with bikers, hikers, skiers, and adventurers of every kind.</p>
<p><strong>Fort Collins community involvement:</strong><br />
Ciclismo Youth Foundation, FC Bikes, CSU Cycling team, FC Bike Library, First City Cycling team, Overland Mountain Bike Club</p>
<p><em>Old Town 140 N College Ave Fort Collins, CO 80524</em></p>
<p><iframe src="https://maps.google.com/maps/ms?msa=0&amp;msid=214063297357826036615.0004d98d1296df8921ea9&amp;gl=us&amp;ie=UTF8&amp;t=h&amp;ll=40.58879,-105.076815&amp;spn=0.002852,0.00912&amp;z=17&amp;iwloc=0004d98d162c03073115b&amp;output=embed" height="350" width="850" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe><br />
<small>View <a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps/ms?msa=0&amp;msid=214063297357826036615.0004d98d1296df8921ea9&amp;gl=us&amp;ie=UTF8&amp;t=h&amp;ll=40.58879,-105.076815&amp;spn=0.002852,0.00912&amp;z=17&amp;iwloc=0004d98d162c03073115b&amp;source=embed" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">Backcountry Deli &#8211; Fort Collins</a> in a larger map</small></p>


					<div class="main-bottom-content">

						<div class="map">
																				</div> <!-- map -->
											</div> <!-- main-bottom-content -->

				</div> <!-- main-content -->

				<div class="main-sidebar">
					<div id="specials">
						<div id="specials_copy">
				<!-- temp fix to link to location twitter pages .by Jaime 	-->
				<ul class="twitterfeed"></ul>							 <!-- temp fix to link to location twitter pages .by chris -->
							 <div style="margin-top:15px;">To learn more about our delicious specials call 970-482-6913</div>							<!-- hidden by Jaime <a href="https://twitter.com/BCDfortcollins" target="_blank">Check them out on Twitter</a>-->
						</div> <!-- specials_copy -->
					</div> <!-- specials -->

				</div> <!-- main-sidebar -->

			</div> <!-- location_content -->
</div> <!-- location_content -->
