<div id="image_viewport">
	<div id="image_container">
		<img width="2500" height="313" src="wp-content/uploads/2013/02/Steamboat_location-banner.jpg" class="attachment-full" alt="Steamboat_location-banner" /> </div>
</div>
<!-- the_slideshow -->

<div id="location_content_container">
	<div id="location_content" class="clearfix">
		<div class="main-content">
			<h1>Steamboat Springs, CO</h1>
			<p><strong>Open Mon &#8211; Sun 7 am &#8211; 5 pm | 970-879-3617</br></strong>
			</p>
			<p>This is where it all started, our flagship deli. Since 1999 (boy does time fly) we’ve had the privilege to serve the great adventurers and people of Steamboat &#8211; locals and visitors alike. Located in the heart of downtown, BCD Steamboat
				offers the healthiest and tastiest food around in a down-to-earth, hometown atmosphere. Dine inside, on our large sun-kissed patio, or take it to go wrapped specially for your adventures.</p>
			<p><strong>Steamboat Springs community involvement:</strong></br>SSWSC, Yampa River Foundation, Steamboat Arts Council, Routt County Riders, STARS, Town Challenge Series, Routt County Search and Rescue, Steamboat Velo, Safe Routes to School, Routt County Friends of the Backcountry, Bike Town USA initiative.</p>
			<p><em>Old Town Square 635 Lincoln Ave, Steamboat Springs, CO</em>
			</p>
			<p>
				<iframe src="https://maps.google.com/maps/ms?msa=0&amp;msid=214063297357826036615.0004d98efcb70181dcb5c&amp;gl=us&amp;ie=UTF8&amp;t=h&amp;ll=40.48589,-106.833233&amp;spn=0.002856,0.00912&amp;z=17&amp;iwloc=0004d98eff0dc8b9f875a&amp;output=embed"
				height="350" width="850" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
				<br />
				<small>View <a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps/ms?msa=0&amp;msid=214063297357826036615.0004d98efcb70181dcb5c&amp;gl=us&amp;ie=UTF8&amp;t=h&amp;ll=40.48589,-106.833233&amp;spn=0.002856,0.00912&amp;z=17&amp;iwloc=0004d98eff0dc8b9f875a&amp;source=embed" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">Backcountry Deli &#8211; Steamboat Springs</a> in a larger map</small>
			</p>


			<div class="main-bottom-content">

				<div class="map">
				</div>
				<!-- map -->
			</div>
			<!-- main-bottom-content -->

		</div>
		<!-- main-content -->

		<div class="main-sidebar">
			<div id="specials">
				<div id="specials_copy">
					<!-- temp fix to link to location twitter pages .by Jaime 	-->
					<ul class="twitterfeed"></ul>
					<!-- temp fix to link to location twitter pages .by chris -->
					<div style="margin-top:15px;">To learn more about our delicious specials call 970-879-3617</div>
					<!-- hidden by Jaime <a href="https://twitter.com/BCDsteamboat" target="_blank">Check them out on Twitter</a>-->
				</div>
				<!-- specials_copy -->
			</div>
			<!-- specials -->

		</div>
		<!-- main-sidebar -->

	</div>
	<!-- location_content -->
</div>
<!-- location_content -->
