

	<div id="content">
		<div id="image_viewport">
			<div id="image_container">
				<img width="2500" height="313" src="wp-content/uploads/2013/02/Denver_location-banner.jpg" class="attachment-full" alt="Denver_location-banner" />			</div>
		</div> <!-- the_slideshow -->

		<div id="location_content_container">
			<div id="location_content" class="clearfix">
				<div class="main-content">
														<h1>Denver, CO</h1>
										<p><strong>Open Mon &#8211; Fri 7 am &#8211; 6 pm, Sat &#8211; Sun 8 am &#8211; 6 pm | 303-534-7900<br />
</strong></p>
<p>Even the most daring adventurers need a little civilization. Established in 2010, Backcountry Delicatessen Denver combines a little mountain spirit with the upbeat energy of “LoDo” (on the 16th Street pedestrian mall just four blocks from Coors Field). So make our Denver Deli your choice before or after all your adventures in downtown Denver. BCD Denver is owned and operated by Dave Mischell, a civilized adventurer if we ever saw one.</p>
<p><strong>Denver community involvement<br />
</strong>BCD Denver is a member of the Downtown Denver Partnership and also sponsors several charities including REI&#8217;s Trail Maintenance Days. Owner-Operator Dave Mischell is on the Board of Directors for LoDo District Inc. and serves as its Treasurer.</p>
<p><em>LoDo 1617 Wazee St Denver, CO 80202</em></p>
<p><iframe src="https://maps.google.com/maps/ms?msa=0&amp;msid=214063297357826036615.0004d98bf29dd8dcfac77&amp;gl=us&amp;ie=UTF8&amp;t=h&amp;ll=39.752543,-104.99976&amp;spn=0.002887,0.00912&amp;z=17&amp;iwloc=0004d98bfe1ad0cd82a04&amp;output=embed" height="350" width="850" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe><br />
<small>View <a style="color: #0000ff; text-align: left;" href="https://maps.google.com/maps/ms?msa=0&amp;msid=214063297357826036615.0004d98bf29dd8dcfac77&amp;gl=us&amp;ie=UTF8&amp;t=h&amp;ll=39.752543,-104.99976&amp;spn=0.002887,0.00912&amp;z=17&amp;iwloc=0004d98bfe1ad0cd82a04&amp;source=embed" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://maps.google.com']);">Backcountry Deli &#8211; Denver</a> in a larger map</small></p>


					<div class="main-bottom-content">

						<div class="map">
																				</div> <!-- map -->
											</div> <!-- main-bottom-content -->

				</div> <!-- main-content -->

				<div class="main-sidebar">
					<div id="specials">
						<div id="specials_copy">
				<!-- temp fix to link to location twitter pages .by Jaime 	-->
				<ul class="twitterfeed"></ul>							 <!-- temp fix to link to location twitter pages .by chris -->
							 <div style="margin-top:15px;">To learn more about our delicious specials call 303-534-7900</div>							<!-- hidden by Jaime <a href="https://twitter.com/BCDLodo" target="_blank">Check them out on Twitter</a>-->
						</div> <!-- specials_copy -->
					</div> <!-- specials -->

				</div> <!-- main-sidebar -->

			</div> <!-- location_content -->
		</div> <!-- location_content -->

	</div> <!-- end #content -->


		</div> <!-- end #container -->

		<!-- all js scripts are loaded in library/bones.php -->
		<script type="text/javascript">

var addthis_config = {"data_track_clickback":false,"data_track_addressbar":false,"data_track_textcopy":false,"ui_atversion":"300"};
var addthis_product = 'wpp-3.5.9';
</script><script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515a10e61b7f4068"></script><script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
<!--wp_footer-->
	</body>

</html> <!-- end page. what a ride! -->
