
			<div id="content">
				<div id="the_slideshow">
					<div id="slideshow_container">
												    <h3>Order Online – Backcountry Delicatessen Fort Collins</h3>

      <a href="/order_fort_collins#zuppler-cart" class="z_view_cart" style="display:none;">View Order</a>
      <div id="z_content" class="cart-right">
        <div id="zuppler-account"></div>
        <div id="z_main"><div id="z_main_column">

          <div id="zuppler-menu"></div>
        </div></div>
        <div id="z_sidebar">
          <div id="zuppler-cart"></div>
        </div>
      </div>

							<img src="wp-content/themes/bones/library/images/tagline-overlay.png" alt="Eat well. Be bold." id="slideshow_tagline" />
					    					</div>
				</div> <!-- the_slideshow -->
			</div> <!-- end #content -->
			

		</div> <!-- end #container -->

<!-- all js scripts are loaded in library/bones.php -->

<script type="text/javascript">

var addthis_config = {"data_track_clickback":false,"data_track_addressbar":false,"data_track_textcopy":false,"ui_atversion":"300"};
var addthis_product = 'wpp-3.5.9';
</script><script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515a10e61b7f4068"></script>
	<script id='customGallery' type='html/_tmpl'>
		<%% _.each(obj, function(picture) { %>
			<%% if(picture.available) { %>
				<img src='http://backcountry-deli.com/order-online/order-online-fort-collins/&lt;%=&#32;picture.original&#32;%&gt;' width='300' title='' />
			<%% } %>
		<%% }); %>
	</script>
	<script type='text/javascript' charset='utf-8'>
</script><script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
<script type='text/javascript' src='http://api.zuppler.com/channels/backcountrydelicatessenlincolnave/restaurants/backcountrydelicatessennorthcollegeavenue/menu.js' defer='defer'></script>

<!--wp_footer-->
	</body>

</html> <!-- end page. what a ride! -->
