<div id="the_slideshow">
  <div id="slideshow_container">
    <h3>Order Online – Backcountry Delicatessen Denver</h3>

    <a href="index.html#zuppler-cart" class="z_view_cart" style="display:none;">View Order</a>
    <div id="z_content" class="cart-right">
      <div id="zuppler-account"></div>
      <div id="z_main">
        <div id="z_main_column">

          <div id="zuppler-menu"></div>
        </div>
      </div>
      <div id="z_sidebar">
        <div id="zuppler-cart"></div>
      </div>
    </div>

    <img src="wp-content/themes/bones/library/images/tagline-overlay.png" alt="Eat well. Be bold." id="slideshow_tagline" />
  </div>
</div>
<!-- the_slideshow -->
<script type='text/javascript' charset='utf-8'>
</script>
<script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
<script type='text/javascript' src='http://api.zuppler.com/channels/backcountrydelicatessenlincolnave/restaurants/backcountrydelicatessenwazeest/menu.js' defer='defer'></script>
