

	<div id="content">
		<div id="foodmenu_wrapper">
			<div class="foodmenu-left">
									<h1>Salads, Soups, Sides, Drinks</h1>
				    <div class="foodcol-1">
<span class="food-type">Salads</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Panzanella</span></strong><span class="toasted"></span><span class="food-price">8.50</span><br />
artichoke hearts, grape tomatoes, capers, chevre, fresh croutons, served on a bed of field greens with our house balsamic vinaigrette.&nbsp;&nbsp;&nbsp;Add Chicken | + 3.00</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Greek Salad</span></strong><span class="toasted"></span><span class="food-price">8.50</span><br />
cucumber, pepperoncini, kalamata olives, red onion, grape tomatoes, feta, served on a bed of field greens with our house balsamic vinaigrette.&nbsp;&nbsp;&nbsp;Add Salami | + 2.00
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Chicken Caesar</span></strong><span class="toasted"></span><span class="food-price">9.25</span><br />
sliced chicken breast served on a bed of crisp romaine lettuce, fresh croutons &#038; shaved asiago cheese with our house caesar dressing</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Cobb Salad</span></strong><span class="toasted"></span><span class="food-price">10.25</span><br />
fresh cubed chicken breast, bacon, avocado, chopped hard-boiled egg, grape tomatoes, red onion, crumbled blue cheese, served on a bed of field greens with our house buttermilk ranch dressing</p>
</div>
</div>
<div class="foodcol-2">
<span class="food-type">Soups</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Soup – Cup</span></strong><span class="toasted"></span><span class="food-price">3.50</span><br />
fresh soups prepared daily</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Soup – Bowl</span></strong><span class="toasted"></span><span class="food-price">5.50</span><br />
fresh soups prepared daily
</div>
<p><span class="food-type">Sides</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Deli Salads – Small</span></strong><span class="toasted"></span><span class="food-price">2.50</span><br />
potato salad &#038; coleslaw made fresh daily, half-pint</p>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Deli Salads – Large</span></strong><span class="toasted"></span><span class="food-price">4.00</span><br />
potato salad &#038; coleslaw made fresh daily, pint
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Potato Chips</span></strong><span class="toasted"></span><span class="food-price">1.30</span><br />
sea salt, salt &#038; vinegar, barbeque, jalapeno, Sun Chips
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Desserts</span></strong><span class="toasted"></span><span class="food-price">1.75 each</span><br />
Freshly baked chocolate chip cookies, oatmeal raisin cookies, and fudge brownies
</div>
</div>
<div class="foodcol-3">
<span class="food-type">Drinks</span></p>
<div class="food-title-area">
<p><strong><span class="food-title">Fountain Drinks</span></strong><span class="toasted"></span><span class="food-price">2.50</span><br />
Pepsi, Diet Pepsi, Dr Pepper, Diet Dr Pepper, Mountain Dew, Diet Mountain Dew
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Izze</span></strong><span class="toasted"></span><span class="food-price">2.50</span><br />
Blackberry, Grapefruit, Pomegranate, Clementine
</div>
<div class="food-title-area">
<p><strong><span class="food-title">San Pellegrino</span></strong><span class="toasted"></span><span class="food-price">2.50</span><br />
Limonata, Aranciata, Blood Orange, Sparkling (500 ml + .50)
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Arizona Iced Tea</span></strong><span class="toasted"></span><span class="food-price">3.00</span><br />
24 oz
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Bottled Water</span></strong><span class="toasted"></span><span class="food-price">2.00</span>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Fresh-brewed Iced Tea</span></strong><span class="toasted"></span><span class="food-price">1.50</span>
</div>
<div class="food-title-area">
<p><strong><span class="food-title">Backcountry Bold Coffee – Small</span></strong><span class="toasted"></span><span class="food-price">1.50</span><br />
we proudly serve our custom, Colorado roasted Backcountry Bold coffee</div>
<div class="food-title-area">
<p><strong><span class="food-title">Backcountry Bold Coffee – Large</span></strong><span class="toasted"></span><span class="food-price">2.50</span><br />
we proudly serve our custom, Colorado roasted Backcountry Bold coffee</div>
</div>
					<div class="clearfix"></div>



			</div> <!-- foodmenu_left -->

			<div class="foodmenu-right">
				<h1>Menu</h1>
				<div class="foodmenu-menu">
					<div class="menu-menu-container"><ul id="menu-menu" class="menu"><li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="/hot_breakfast_sandwiches" >Hot Breakfast Sandwiches</a></li>
<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-page-parent menu-item-57"><a href="/specialty_sandwiches" >Specialty Sandwiches</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="/build_your_own" >Build Your Own Sandwich</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-47 current_page_item menu-item-60"><a href="/salads_soups_sides_drinks" >Salads, Soups, Sides, Drinks</a></li>
<li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="/catering_menu" >Catering Menu</a></li>
<li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a target="_blank" href="wp-content/uploads/2013/02/breakfast-lunch-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/breakfast-lunch-menu.pdf']);">Main Menu (PDF)</a></li>
<li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a target="_blank" href="wp-content/uploads/2013/02/catering-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/catering-menu.pdf']);">Catering Menu (PDF)</a></li>
</ul></div>				</div> <!-- foodmenu-menu -->
			</div> <!-- foodmen-right -->

			<div class="clearfix"></div>

		</div> <!-- foodmenu-wrapper -->
	</div> <!-- end #content -->

		</div> <!-- end #container -->

		<!-- all js scripts are loaded in library/bones.php -->
		<script type="text/javascript">

var addthis_config = {"data_track_clickback":false,"data_track_addressbar":false,"data_track_textcopy":false,"ui_atversion":"300"};
var addthis_product = 'wpp-3.5.9';
</script><script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515a10e61b7f4068"></script><script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
<!--wp_footer-->
	</body>

</html> <!-- end page. what a ride! -->
