<div id="inner-content" class="wrap clearfix">

	<div id="main" class="eightcol first clearfix" role="main">

		<article id="post-207" class="post-207 page type-page status-publish hentry clearfix" role="article" itemscope itemtype="http://schema.org/BlogPosting">
			<header class="article-header">
				<h1 class="page-title" itemprop="headline">Social Love</h1>
			</header>
			<!-- end article header -->

			<section class="entry-content clearfix" itemprop="articleBody">
				<p>We primarily communicate our daily specials, community group highlights, and outdoor adventures through our social media channels. We have Facebook and Twitter pages for all our Backcountry Deli stores. Check out all the latest on our social
					wall below – and please friend/follow us. We&#8217;d friend/follow you anywhere&#8230;</p>
				<p>Facebook – <a href="http://www.facebook.com/backcountrydeli" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.facebook.com']);" target="_blank">Backcountry Deli (mama site)</a>
				</p>
				<p>Twitter – <a href="https://twitter.com/BCDlodo" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://twitter.com']);" target="_blank">Denver &#8211; LoDo</a> | <a href="https://twitter.com/BCDglenarm" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://twitter.com']);"
					target="_blank">Denver &#8211; Downtown</a> | <a href="https://twitter.com/BCDfortcollins" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://twitter.com']);" target="_blank">Fort Collins</a> | <a href="https://twitter.com/BCDjackson"
					onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://twitter.com']);" target="_blank">Jackson Hole</a> | <a href="https://twitter.com/BCDsteamboat" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://twitter.com']);"
					target="_blank">Steamboat Springs</a>
				</p>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						var config = {
							feeds: {
								twitter: {
									url: "http://backcountry-deli.com/wp-content/plugins/wordpress-social-stream/inc/dcwp_twitter.php?1=IpmEFazDXnqknLUq5pe5Q&2=ZfV5Zz1RhBLNY4M7X2Y0LXDmhqou2MRZ8NB0LeIgw&3=51163077-9Xa6Ic5BiMiew0tNkgoxF5uYtOb2dWoihxEJrGag8&4=Ar9EiIOyO9oFsgBGKKWLx1nkeBDa1bnQjQeant5DA",
									id: "BCDlodo, BCDglenarm, BCDsteamboat, BCDfortcollins, BCDjackson",
									intro: "Tweeted",
									search: "Tweeted",
									images: "thumb",
									thumb: true,
									retweets: true,
									replies: false,
									out: "intro,thumb,text,share"
								}
							},
							days: 60,
							limit: 100,
							speed: 600,
							rotate: {
								delay: 0,
								direction: "up"
							},
							wall: true,
							container: "dcwss",
							cstream: "stream",
							content: "dcwss-content",
							imagePath: "http://backcountry-deli.com/wp-content/plugins/wordpress-social-stream/images/dcwss-dark/",
							iconPath: "http://backcountry-deli.com/wp-content/plugins/wordpress-social-stream/images/dcwss-dark/"
						};
						if (!jQuery().dcSocialStream) {
							$.getScript("http://backcountry-deli.com/wp-content/plugins/wordpress-social-stream/js/jquery.social.stream.wall.1.3.js", function() {});
							$.getScript("http://backcountry-deli.com/wp-content/plugins/wordpress-social-stream/js/jquery.social.stream.1.5.1.min.js", function() {
								$("#social-stream-206").dcSocialStream(config);
							});
						} else {
							$("#social-stream-206.dc-wall").dcSocialStream(config);
						}
					});
				</script>
				<div class="wall-outer">
					<div id="social-stream-206" class="dc-wall col-4"></div>
				</div>
			</section>
			<!-- end article section -->

			<footer class="article-footer"> </footer>
			<!-- end article footer -->

			<!-- You can start editing here. -->



			<!-- If comments are closed. -->
			<!--p class="nocomments">Comments are closed.</p-->




		</article>
		<!-- end article -->


	</div>
	<!-- end #main -->
	<div id="page_sidebar" class="sidebar">
		<div id="black-studio-tinymce-5" class="widget widget_black_studio_tinymce">
			<div class="textwidget">
				<p>
					<a href="wp-content/uploads/2013/02/social-sidebar-pics.jpg"><img class="alignleft size-full wp-image-553" alt="social-sidebar-pics" src="wp-content/uploads/2013/02/social-sidebar-pics.jpg" width="253" height="1721" />
					</a>
				</p>
			</div>
		</div>
	</div>

</div>
<!-- end #inner-content -->
