<div id="foodmenu_wrapper">
	<div class="foodmenu-left">
		<h1>Specialty Sandwiches</h1>
		<div class="foodcol-1">
			<p><span class="food-type">Turkey and Chicken</br></span>
			</p>
			<div class="food-title-area">
				<p><strong><span class="food-title">Pilgrim</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">9.25</span>
					<br /> roasted turkey, muenster, seasoned stuffing, cranberry chutney, romaine lettuce, mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Ridgeline</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">9.25</span>
					<br /> roasted turkey, sharp cheddar, honey cured bacon, avocado, tomato, romaine lettuce, garlic mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Bushwacker</span></strong><span class="toasted"></span><span class="food-price">8.95</span>
					<br /> curry chicken salad with toasted almonds &amp; granny smith apples, smoked gouda, romaine lettuce</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">County Road</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.95</span>
					<br /> sliced chicken breast, fontina, oven roasted tomatoes, red onion, field greens, pesto mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Turkey Trailhead</span></strong><span class="toasted"></span><span class="food-price">8.95</span>
					<br /> roasted turkey, swiss, avocado, tomato, red onion, romaine lettuce, honey dijon mustard</p>
			</div>
			<p><span class="food-type">Ham</span>
			</p>
			<div class="food-title-area">
				<p><strong><span class="food-title">Backcountry Cuban</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.95</span>
					<br /> smoked ham, slow roasted pulled pork, jarlsburg, chopped pickles, hot cherry peppers, mayo, yellow mustard</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Summit</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">9.25</span>
					<br /> smoked ham, french brie, honey cured bacon, cranberry chutney, romaine lettuce, chipotle mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Ham Trailhead</span></strong><span class="toasted"></span><span class="food-price">8.95</span>
					<br /> smoked ham, swiss, avocado, tomato, red onion, romaine lettuce, honey dijon mustard</p>
			</div>
			<div class="trytoasted">
				<span class="toasted-big"><img src="wp-content/themes/bones/library/images/toasted-big.png" alt="try toasted">Try it toasted</span>
			</div>
		</div>
		<div class="foodcol-2">
			<p><span class="food-type">Veggie</span>
			</p>
			<div class="food-title-area">
				<p><strong><span class="food-title">Hot Springs</span></strong><span class="toasted"></span><span class="food-price">8.75</span>
					<br /> avocado, tomato, red onion, cucumber, carrots, sprouts, field greens, cream cheese, house vinaigrette</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Sherpa</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.95</span>
					<br /> grilled eggplant, asiago, sweet roasted red peppers, tomato, romaine lettuce, garlic mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">High Plains</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.75</span>
					<br /> fresh mozzarella, tomato, romaine lettuce, basil pesto</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Hidden Valley</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.75</span>
					<br /> artichoke hearts, chevre, oven roasted tomatoes, field greens, balsamic vinaigrette</p>
			</div>
			<p><span class="food-type">Beef</span>
			</p>
			<div class="food-title-area">
				<p><strong><span class="food-title">Expedition</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">9.25</span>
					<br /> top round roast beef, sharp cheddar, tomato, avocado, romaine lettuce, chipotle mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Avalanche</span></strong><span class="toasted"></span><span class="food-price">8.95</span>
					<br /> top round roast beef, asiago, tomato, romaine lettuce, house vinaigrette
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Fourteener</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.95</span>
					<br /> top round roast beef, crumbled blue cheese, sweet roasted red peppers, romaine lettuce, horseradish mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Pinnacle</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">9.25</span>
					<br /> lean pastrami, swiss, fresh coleslaw, served with a side of house russian dressing
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Emerald</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.95</span>
					<br /> lean corned beef, swiss, red onion, romaine lettuce, deli brown mustard</p>
			</div>
		</div>
		<div class="foodcol-3">
			<p><span class="food-type">European</span>
			</p>
			<div class="food-title-area">
				<p><strong><span class="food-title">Godfather</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">8.95</span>
					<br /> mortadella, capocollo, sharp provolone, tomato, red onion, romaine lettuce, house vinaigrette</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Dolomite</span></strong><span class="toasted"></span><span class="food-price">8.95</span>
					<br /> prosciutto, genoa salami, sharp provolone, sweet roasted red peppers, red onion, romaine lettuce, house vinaigrette
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">The Grand</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">9.75</span>
					<br /> prosciutto, capocollo, sopressata, sharp provolone, tomato, romaine lettuce, garlic mayo, house vinaigrette</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Basecamp</span></strong><span class="toasted"></span><span class="food-price">8.95</span>
					<br /> german bologna, jarlsburg, tomato, red onion, romaine lettuce, garlic mayo</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Braunschweiger</span></strong><span class="toasted"></span><span class="food-price">8.95</span>
					<br /> german liverwurst, swiss, red onion, romaine lettuce, dijon mustard</p>
			</div>
			<p><span class="food-type">Fish</span>
			</p>
			<div class="food-title-area">
				<p><strong><span class="food-title">Lost Creek</span></strong><span class="toasted"><img alt="toasted" src="wp-content/themes/bones/library/images/toasted.png" /></span><span class="food-price">9.25</span>
					<br /> all white albacore tuna salad, swiss, avocado, tomato, field greens</p>
			</div>
			<div class="food-title-area">
				<p><strong><span class="food-title">Angler</span></strong><span class="toasted"></span><span class="food-price">9.75</span>
					<br /> cold smoked atlantic salmon, dill havarti, sprouts, cucumber, capers, tomato, red onion, field greens, honey dijon mustard</p>
			</div>
		</div>
		<div class="clearfix"></div>



	</div>
	<!-- foodmenu_left -->

	<div class="foodmenu-right">
		<h1>Menu</h1>
		<div class="foodmenu-menu">
			<div class="menu-menu-container">
				<ul id="menu-menu" class="menu">
					<li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="/hot_breakfast_sandwiches">Hot Breakfast Sandwiches</a>
					</li>
					<li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-57"><a href="/specialty_sandwiches">Specialty Sandwiches</a>
					</li>
					<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="/build_your_own">Build Your Own Sandwich</a>
					</li>
					<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60"><a href="/salads_soups_sides_drinks">Salads, Soups, Sides, Drinks</a>
					</li>
					<li id="menu-item-301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-301"><a href="/catering_menu">Catering Menu</a>
					</li>
					<li id="menu-item-562" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-562"><a target="_blank" href="wp-content/uploads/2013/02/breakfast-lunch-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/breakfast-lunch-menu.pdf']);">Main Menu (PDF)</a>
					</li>
					<li id="menu-item-563" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-563"><a target="_blank" href="wp-content/uploads/2013/02/catering-menu.pdf" onclick="javascript:_gaq.push(['_trackEvent','download','http://backcountry-deli.com/wp-content/uploads/2013/02/catering-menu.pdf']);">Catering Menu (PDF)</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- foodmenu-menu -->
	</div>
	<!-- foodmen-right -->

	<div class="clearfix"></div>

</div>
<!-- foodmenu-wrapper -->
<!-- all js scripts are loaded in library/bones.php -->
<script type="text/javascript">
	var addthis_config = {
		"data_track_clickback": false,
		"data_track_addressbar": false,
		"data_track_textcopy": false,
		"ui_atversion": "300"
	};
	var addthis_product = 'wpp-3.5.9';
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515a10e61b7f4068"></script>
<script type='text/javascript' src='wp-content/themes/bones/library/js/scripts.js'></script>
